.demo{
  text-align: center;
  margin-top: 5%;
}
.name{
  margin: 4% 5%;
  font-size: 30px;
  font-family: Century Gothic;
}
hr{
  width: 30%;
  border-top:1px solid #0000ff;
}
h2{
  margin: 1% 5%;
}
ul{
margin: 1% 5%;
font-size: 19px;
}
ul li strong{
  font-size: 12px;
}
pre{
  margin: 5%;
  text-align: center;
}
pre strong{
color: red;  
}